<%= form_for([@item, @external_doc], :html => { :multipart => true }) do |f| %>
  <% if @external_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@external_doc.errors.count, "error") %> prohibited this external_doc from being saved:</h2>

      <ul>
      <% @external_doc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :item_id %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label 'Select document file' %><br />
    <%= f.file_field :doc %>
  </div>
  <div class="actions">
    <br />
    <%= f.submit %>
  </div>
  <div>
    <br />
    Current Document
    <br />
    <% if @external_doc.doc.url =~ /missing.png/ %>
      <b>Missing Picture</b><br/>
    <% else %>
      <b><%= link_to image_tag( @external_doc.doc.url(:medium), :border => 0), @external_doc.doc.url, :target => '_blank' %></b><br/>
    <% end %>
  </div>

<% end %>
