<h1>Editing <%= "#{@external_doc.description}"%> for <%=link_to "#{h(@item.description)}", item_path(@item.id)%></h1>

<%= render 'form' %>

<%= link_to 'Show', @external_doc %> |
<%= link_to 'Back', external_docs_path %>
