<h1>Listing dependent parts for <%= "#{h(@item.description)} SN: #{h(@item.org_sn)}"%></h1>

<%= link_to 'New dependent', new_item_dependent_path(@item.id) %> |
<%= link_to "#{h(@item.description)} page", item_path( @item.id ) %> |
<%= link_to "back to Summary Page", items_path %>

<br />

<%= render 'dependents' %>

<%= link_to 'New dependent', new_item_dependent_path(@item.id) %> |
<%= link_to "#{h(@item.description)} page", item_path( @item.id ) %> |
<%= link_to "back to Summary Page", items_path %>