<h1>Listing dependents for <%= "#{h(@item.description)}"%></h1>

<table>
  <tr>
    <th>Pn</th>
    <th>Model</th>
    <th>Note</th>
  </tr>

<% @dependents.each do |dependent| %>
  <tr>
    <td><%=h dependent.pn %></td>
    <td><%=h dependent.model %></td>
    <td><%=h dependent.note %></td>
    <td><%= link_to 'Show', item_dependent_path( @item.id, dependent.id ) %></td>
    <td><%= link_to 'Edit', edit_item_dependent_path(@item.id, dependent.id ) %></td>
    <td><%= link_to 'Destroy', item_dependent_path(@item.id, dependent.id ), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New dependent', new_item_dependent_path(@item.id) %> |
<%= link_to 'Item Page', item_path( @item.id ) %> |
<%= link_to "back to Summary Page", items_path %>