<h1>Show dependent for <%= "#{h(@item.description)} SN: #{h(@item.org_sn)}"%></h1>

<table>
<tr>
  <td><b>Pn:</b></td>
  <td><%=h @dependents.pn %></td>
</tr>

<tr>
  <td><b>Model:</b></td>
  <td><%=h @dependents.model %></td>
</tr>

<tr>
  <td><b>Note:</b></td>
  <td><%=h @dependents.note %></td>
</tr>
</table>

<%= link_to 'Edit', edit_item_dependent_path(@item.id) %> |
<%= link_to 'Back', item_dependents_path( @item.id ) %>