<h1>Show dependent for <%= "#{h(@item.description)}"%></h1>

<table>
<tr>
  <td><b>Pn:</b></td>
  <td><%=h @dependent.pn %></td>
</tr>

<tr>
  <td><b>Model:</b></td>
  <td><%=h @dependent.model %></td>
</tr>

<tr>
  <td><b>Note:</b></td>
  <td><%=h @dependent.note %></td>
</tr>
</table>

<%= link_to 'Edit', edit_item_dependent_path(@item.id) %> |
<%= link_to 'Back', item_dependents_path( @item.id ) %>