<h1>Editing calibrator</h1>

<% form_for(@calibrator) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :a_name %><br />
    <%= f.text_field :a_name %>
  </p>
  <p>
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </p>
  <p>
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @calibrator %> |
<%= link_to 'Back', calibrators_path %>