<h1>Vendors</h1>

<%= link_to 'Create a new vendor', new_calibrator_path %>

<br />

&nbsp;

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @calibrators %>
    </div>
    <%= will_paginate @calibrators, :container => false %>
</div>

<%= render :partial => 'calibrators', :collection => @calibrators %>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @calibrators %>
    </div>
    <%= will_paginate @calibrators, :container => false %>
</div>

<br />

<%= link_to 'Create a new vendor', new_calibrator_path %>