<h1>Listing calibrators</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address line 1</th>
    <th>Address line 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Note</th>
  </tr>

<% @calibrators.each do |calibrator| %>
  <tr>
    <td><%=h calibrator.a_name %></td>
    <td><%=h calibrator.address_line_1 %></td>
    <td><%=h calibrator.address_line_2 %></td>
    <td><%=h calibrator.city %></td>
    <td><%=h calibrator.state %></td>
    <td><%=h calibrator.zip %></td>
    <td><%=h calibrator.note %></td>
    <td><%= link_to 'Show', calibrator %></td>
    <td><%= link_to 'Edit', edit_calibrator_path(calibrator) %></td>
    <td><%= link_to 'Destroy', calibrator, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New calibrator', new_calibrator_path %>