<h1>New calibrator</h1>

<% if @calibrator.errors.any? %>
<h2 style="color: red"><%= pluralize(@calibrator.errors.count, "error") %> prohibited this vendor from being saved:</h2>
<ul>
<% @calibrator.errors.full_messages.each do |msg| %>
  <li style="color: red"><%= msg %></li>
<% end %>
</ul>
<% end %>

<%= form_for(@calibrator) do |f| %>

  <p>
    <%= f.label 'Name'%><br />
    <%= f.text_field :a_name %>
  </p>
  <p>
    <%= f.label :contact_name %><br />
    <%= f.text_field :contact_name %>
  </p>
  <p>
    <%= f.label :contact_email %><br />
    <%= f.text_field :contact_email %>
  </p>
  <p>
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </p>
  <p>
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', calibrators_path %>