<% if @item.inCal %>
   <h1>Returning <%= h @item.description %> from calibration</h1>
<% else %>
  <h1>Editing event</h1>
<% end %>

<% form_for([ @item, @event ], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :item_id %>

  <table>
    <tr>
      <td><%= link_to "Calibrator:", new_calibrator_path %></td>
      <td>
        <%=  select_tag("event[calibrator_id]", options_from_collection_for_select(@calibrators, :id, :a_name, @event.calibrator_id)) %>
      </td>
      <td>
        <%=  link_to "Add calibrator", new_calibrator_path %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :cal_date %></td>
      <td><%= f.date_select :cal_date, :order => [:day, :month, :year] %></td>
    </tr>
    <tr>
      <td> <%= f.label :cost %></td>
      <td><%= f.text_field :cost %></td>
      <td><%= f.label :po %></td>
      <td><%= f.text_field :po %></td>
    </tr>
    <tr>
      <td>Add certs file(pdf) if available</td>
      <td>
      <% if @event.certs.url =~ /missing.png/ %>
        Missing Picture<br/>
      <% else %>
        <%= link_to image_tag( @event.certs.url(:thumb), :border => 0), @event.certs.url, :target => '_blank' %><br/>
      <% end %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :certs_updated_at %></td>
      <td><%= f.date_select :certs_updated_at, :order => [:day, :month, :year] %></td>
    </tr>
    <tr>
      <td><%= f.label 'Select certs file' %></td>
      <td><%= f.file_field :certs %></td>
    </tr>

  </table>
    <p>
    <% if @item.inCal %>
      <%= f.submit "Return from cal" %> or
    <% end %>
    <%= f.submit 'Update' %>
    </p>
<% end %>

<%= link_to 'Show', item_event_path(@item.id, @event.id) %> |
<%= link_to 'Back', item_events_path(@item.id) %>