<h1>Listing calibration events for <%="#{h(@item.description)}"%> </h1>

<%= render :partial => "events", :locals => { :events => @events } %>


<br />

<p><%= link_to 'New event', new_item_event_path( @item.id ) %></p>
<p><%= link_to "Back to #{h(@item.description)}", item_path( @item ) %></p>
<p><%= link_to 'Back to Items', items_path %></p>
