<h1>Listing calibration events for <%="#{h(@item.description)}"%> </h1>

<%= render :partial => "events", :locals => { :events => @events } %>


<br />
<% if @item.inCal== false and @item.inactive == 0 %>
  <p><%= link_to 'Calibrate', new_item_event_path( @item.id ) %></p>
<% elsif @item.inCal %>
  <%= link_to 'Return from Cal', :controller => "event", :action => "return_from_cal", :id => @item.id %>
<% end %>
<p><%= link_to "Back to #{h(@item.description)}", item_path( @item ) %></p>
<p><%= link_to 'Back to Due Cal Items', items_path %></p>
