<h1>New event</h1>

<% form_for([ @item, @event ], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :item_id %>

  <table>
    <tr>
      <td><%= link_to "Calibrator:", new_calibrator_path %></td>
      <td>
        <%=  select_tag("event[calibrator_id]", options_from_collection_for_select(@calibrators, :id, :a_name)) %>
      </td>
    </tr>
    <tr>
      <td><%= f.label :cal_date %></td>
      <td><%= f.date_select :cal_date, :order => [:day, :month, :year] %></td>
    </tr>
    <tr>
      <td> <%= f.label :cost %></td>
      <td><%= f.text_field :cost %></td>
      <td><%= f.label :po %></td>
      <td><%= f.text_field :po %></td>
    </tr>
    <tr>
      <td><%= f.label 'Select certs file' %></td>
      <td><%= f.file_field :certs %></td>
    </tr>
    <tr>
      <td><%= f.label :certs_updated_at %></td>
      <td><%= f.date_select :certs_updated_at, :order => [:day, :month, :year] %></td>
    </tr>

  </table>
<br/>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<h2>Previous events</h2>
<%= render :partial => "events", :locals => { :events => @previous_events } %>

<p><%= link_to 'Back to events', item_events_path( @item.id ) %></p>
<p><%= link_to "Back to #{h(@item.description)}", item_path( @item ) %></p>
<p><%= link_to 'Back to Items', items_path %></p>
