<div>
<div style="float:left; width:400px">
  <p>
  <% if due_cal_items.picture.url(:medium) =~ /missing.png/ %>
    <%= link_to image_tag( due_cal_items.picture.url,:size => '300x300', :border=> 0), due_cal_items.picture.url, :target => '_blank' %>
  <% else %>
    <%= link_to image_tag( due_cal_items.picture.url(:medium), :border=> 0), due_cal_items.picture.url, :target => '_blank' %>
  <% end %>
  </p>
</div>
<div style="float:left; width:200px">
  <ul>
  <li><%=link_to h(due_cal_items.description), item_path( due_cal_items.id ) %></li>
  <li>The Serial Number is <%=h due_cal_items.org_sn %>
  and it was due cal on <%="#{ h (due_cal_items.last_calibrated_on + due_cal_items.cal_cycle_days.days).strftime('%m/%d/%Y')}" %></li>
  <li><%= link_to 'Calibrate this item?', new_item_event_path( due_cal_items ) %></li>
  </ul>
</div>
<div style="clear: both;"> </div>

</div>