<table>
  <tr>
    <th>Description</th>
    <th>Org sn</th>
    <th>Location</th>
	<th>Last Cal</th>
    <th>Picture thumb</th>
  </tr>
<% aGroup.each do |item| %>
  <tr>
    <td><%=link_to h(item.description), item_events_path( item.id ) %></td>
    <td><%=h item.org_sn %></td>
    <td><%=h item.location %></td>
    <td><%= "#{ h item.last_calibrated_on.strftime('%m/%d/%Y')}" %></td>
    <% if item.picture.url =~ /missing.png/ %>
      <td>No Image</td>
    <% else %>
      <td><%= link_to image_tag( item.picture.url(:thumb), :border=> 0), item.picture.url, :target => '_blank' %></td>
    <% end %>
    <td>
        <%= link_to 'Show', item %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <% if item.inCal %>
          <%= link_to 'Return from Cal', :controller => "event", :action => "return_from_cal", :id => item.id %>
        <% elsif item.inactive == 0 %>
          <%= link_to 'Calibrate', new_item_event_path( item ) %>
        <% end %>
        <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>


<% if show_hide == 1 then %>
  <i>
      <%= link_to_remote 'hide',
        :update => aToken,
        :url => {:action => "define", :token => aToken },
        :complete => visual_effect( :blind_up, aToken, :duration => 0.2 )
      %>
  </i>
<% end %>

<br />