<table>
  <tr>
    <th>Description</th>
    <th>Org sn</th>
    <th>Location</th>
    <th>Last Cal</th>
    <th>Due Cal</th>
    <th>Picture</th>
  </tr>
<% aGroup.each do |item| %>
  <tr>
    <td><%=link_to h(item.description), item_events_path( item.id ) %></td>
    <td><%=h item.org_sn %></td>
    <td><%=h item.location %></td>
    <td>
      <% if item.last_calibrated_on.nil? %>
    No data
      <% else %>
    <%= "#{ h item.last_calibrated_on.strftime('%m/%d/%Y')}" %>
      <% end %>
    </td>
    <td>
      <% if item.last_calibrated_on.nil? %>
    No last cal on date
      <% else %>
    <%= "#{ h (item.last_calibrated_on + item.cal_cycle_days.days).strftime('%m/%d/%Y')}" %>
      <% end %>
    </td>
    <% if item.picture.url =~ /missing.png/ %>
      <td><%= link_to 'No Image', edit_item_path(item) %></td>
    <% else %>
      <td><%= link_to image_tag( item.picture.url(:thumb), :border=> 0), item.picture.url, :target => '_blank' %></td>
    <% end %>
    <% unless to_print == 'yes' %>
      <td>
          <%= link_to 'Show', item %>
          <%= link_to 'Edit', edit_item_path(item) %>
          <% if item.inCal %>
            <%= link_to 'Return from Cal', :controller => "event", :action => "return_from_cal", :id => item.id %>
          <% elsif item.inactive == 0 %>
            <%= link_to 'Calibrate', new_item_event_path( item ) %>
          <% end %>
          <%= link_to 'Delete', item, :data=> {:confirm => 'Are you sure?'}, :method => :delete %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />