<div>
<div style="float:left; width:400px">
  <p>
  <% if items.picture.url(:medium) =~ /missing.png/ %>
    <%= link_to image_tag( items.picture.url,:size => '300x300', :border=> 0), items.picture.url, :target => '_blank' %>
  <% else %>
    <%= link_to image_tag( items.picture.url(:medium), :border=> 0), items.picture.url, :target => '_blank' %>
  <% end %>
  </p>
</div>
<div style="float:left; width:200px">
  <ul>
  <li><%=link_to_box h(items.description), item_path( items.id ) %></li>
  <li>The Serial Number is <%=h items.org_sn %>
  and it was due cal on <%="#{ h (items.last_calibrated_on + items.cal_cycle_days.days).strftime('%m/%d/%Y')}" %></li>
  <% if items.inCal %>
    <li><%= link_to 'Return from Cal', return_from_cal_path( :item_id => items.id ) %> </li>
  <% else %>
    <li><%= link_to 'Calibrate this item?', new_item_event_path( items ) %></li>
  <% end %>
  </ul>
</div>
<div style="clear: both;"> </div>

</div>