<h1>Calibration: Main Page</h1>

<h2><a name="DueCal">Due Cal</a></h2>

<div class="due_cal">
	
	<div class="digg_pagination">
    	<div clas="page_info">
      		<%= page_entries_info @items %>
    	</div>
    	<%= will_paginate @items, :container => false %>
	</div>

	<%= render :partial => 'items', :collection => @items %>

	<div class="digg_pagination">
    	<div clas="page_info">
      	<%= page_entries_info @items %>
    	</div>
    	<%= will_paginate @items, :container => false %>
	</div>
</div>

<div class="summary_info">
	<h3><%= link_to "Last 10 Issues", all_issues_path%></h3>
	<% if @issues.any? %>
		<% @issues.each do |issue| %>
			<ul>
				<%= render partial: "issues", locals: {issue: issue}%>
				<hr/>
			</ul>
		<% end %>
	<% else %>
		No Issues to Show
	<% end %>
</div>

<div class="summary_events">
	<h3><%= link_to "Last 10 Events", all_events_path%> </h3>
	<% if @events.any? %>
		<% @events.each do |event| %>
			<ul>
				<%= render partial: "events", locals: {event: event}%>
			</ul>
		<% end %>
	<% else %>
		No Events to display
	<% end %>
</div>
