<h1>Calibration: Main Page</h1>

<h2><a name="DueCal">Due Cal</a></h2>

<%= will_paginate @items %>

<%= render :partial => 'items', :collection => @items %>

<%= will_paginate @items %>

<%= link_to 'New item', new_item_path %>

<%= link_to "loader", :controller => "item", :action => "test_loader" %>