<h1>New item</h1>

<% if @item.errors.any? %>
<h2 style="color: red"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
<ul>
<% @item.errors.full_messages.each do |msg| %>
  <li style="color: red"><%= msg %></li>
<% end %>
</ul>
<% end %>

<% form_for @item, :html => { :multipart => true } do |f| %>

<table>
  <tr>
    <td><%= f.label :description %></td>
    <td><%= f.text_field :description %></td>
  </tr>
  <tr>
    <td><%= f.label :mfgr %></td>
    <td><%= f.text_field :mfgr %></td>
  </tr>
  <tr>
    <td><%= f.label :pn %></td>
    <td><%= f.text_field :pn %></td>
  </tr>
  <tr>
    <td><%= f.label :org_sn %></td>
    <td><%= f.text_field :org_sn %><td>
  </tr>
  <tr>
    <td><%= f.label :mfgr_sn %></td>
    <td><%= f.text_field :mfgr_sn %></td>
  </tr>
  <tr>
    <td><%= f.label :location %></td>
    <td><%= f.text_field :location %></td>
  </tr>
  <tr>
    <td><%= f.label :cal_cycle_days %></td>
    <td><%= f.text_field :cal_cycle_days, :value => 365 %></td>
  </tr>
  <tr>
    <td><%= f.label :last_calibrated_on %></td>
    <td><%= f.date_select :last_calibrated_on, :order => [:day, :month, :year] %></td>
  </tr>
  <tr>
    <td><%= f.radio_button :inactive, 0, :checked => true %>Active</td>
    <td><%= f.radio_button :inactive, 1 %>Inactive</td>
  </tr>
  <tr>
    <td><%= f.radio_button :inCal, "false", :checked => true %>Not In Cal</td>
    <td><%= f.radio_button :inCal, "true" %>In Cal</td>
  </tr>
  <tr>
    <td><%= f.label :picture_file_name %><td/>
  </tr>
  <tr>
    <td><%= f.file_field :picture, :size => 10 %></td>
  </tr>
  <tr>
    <td><%= f.label :picture_updated_at %></td>
    <td><%= f.date_select :picture_updated_at, :order => [:day, :month, :year] %></td>
  </tr>
  <tr>
    <td><%= f.submit 'Create' %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Back', items_path %>