<h2>
  Search Results
</h2>
<table>
  <tr>
    <th>Description</th>
    <th>Org sn</th>
    <th>Location</th>
    <th>Last Cal</th>
    <th>Due Cal</th>
    <th>Picture</th>
  </tr>
<% @search_results.each do |item| %>
  <tr>
    <td><%=link_to h(item.description), item %></td>
    <td><%=h item.org_sn %></td>
    <td><%=h item.location %></td>
    <td><%= "#{ h item.last_calibrated_on.strftime('%m/%d/%Y')}" %></td>
    <td><%= "#{ h item.last_calibrated_on + item.cal_cycle_days.days}" %></td>
    <% if item.picture.url =~ /missing.png/ %>
      <td>No Image</td>
    <% else %>
      <td><%= link_to image_tag( item.picture.url(:thumb), :border=> 0), item.picture.url, :target => '_blank' %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if @search_results.length < 1 %>
No results Found
<% end %>

