<h3>Showing all Events (Latest events first)</h3>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @events %>
    </div>
    <%= will_paginate @events, :container => false %>
</div>

<p/>

<table border="1" bordercolor="gray">
	<tr>
	<% @events.each_with_index do |event, index | %>
		<td>
			<%= render partial: "events", locals: {event: event }%>
		</td>
		<% if (index + 1) % 4 == 0 %>
			</tr>
			<tr>
		<% end %>
	<% end %>
</table>

<p/>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @events %>
    </div>
    <%= will_paginate @events, :container => false %>
</div>

