<h2>Showing info for <%= "#{@item.description} SN:#{@item.org_sn}"%></h2>

<p>
  <b>Item Picture</b><br />
  <% if @item.picture.url =~ /missing.png/ %>
  <b>No Image</b><br />
  <% else %>
    <b><%= link_to image_tag( @item.picture.url(:thumb), :border=> 0), @item.picture.url, :target => '_blank' %></b>
  <% end %>
</p>

<p>
  <b>Picture updated at:</b>
  <%=h @item.picture_updated_at %>
</p>

<table border="1">
  <tr>
    <td><b>Description</b></td>
    <td><%=h @item.description %></td>
    <td><b>Location:</b></td>
    <td><%=h @item.location %></td>
  </tr>
  <tr>
    <td><b>Mfgr:</b></td>
    <td><%=h @item.mfgr %></td>
    <td><b>Pn:</b></td>
    <td><%=h @item.org_sn %></td>
    <td><b>Org sn:</b></td>
    <td><%=h @item.org_sn %></td>
    <td><b>Mfgr sn:</b></td>
    <td><%=h @item.mfgr_sn %></td>
  </tr>
  <tr>
    <td><b>Cal cycle days:</b></td>
    <td><%=h @item.cal_cycle_days %><td>
    <td><b>Last Cal on:</b></td>
    <td><%=h @item.last_calibrated_on %></td>
  </tr>
  <tr>
    <td>
      <% if @item.inactive == 0 %>
        <b>Active </b>
      <% else %>
        <b>Not Active </b>
      <% end %>
      and
      <% if @item.inCal %>
        <b><%=  link_to 'In Cal', item_events_path( @item ) %></b>
      <% else  %>
        <b> Not in cal</b>
      <% end %>
    </td>
  </tr>
  </table>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Calibrate', new_item_event_path( @item ) %> |
<%= link_to 'Calibration Events', item_events_path( @item ) %> |
<%= link_to 'Back to Item list', items_path %> |
<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>

