<h2>Showing Items Currently in cal</h2>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @items %>
    </div>
    <%= will_paginate @items, :container => true %>
</div>

<%= render :partial => 'items', :collection => @items %>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @items %>
    </div>
    <%= will_paginate @items, :container => true %>
</div>

