<h2>Showing Items Due Cal in 30 days</h2>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @items %>
    </div>
    <%= will_paginate @items, :container => false %>
</div>


<%= render :partial => 'items', :collection => @items %>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @items %>
    </div>
    <%= will_paginate @items, :container => false %>
</div>