<h2>Showing all Items in Description order</h2>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @display_group %>
    </div>
    <%= will_paginate @display_group, :container => false %>
</div>

<%= render :partial => 'items', :collection => @items %>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @display_group %>
    </div>
    <%= will_paginate @display_group, :container => false %>
</div>
