<h2>Showing Inactive Items</h2>

<%= will_paginate @items %>

<%= render :partial => 'items', :collection => @items %>

<%= will_paginate @items %>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @items %>
    </div>
    <%= will_paginate @items, :container => false %>
</div>
