<h3>Showing all Events (Latest events first)</h3>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @events %>
    </div>
    <%= will_paginate @events, :container => false %>
</div>


<table border="1" bordercolor="gray">
	<tr>
	<% @events.each_with_index do |event, index | %>
		<td>
				<p><%=get_image_tag_from_item_id(event.item_id) %></p>
				<p><strong>Desc: </strong><%=link_to h(get_item_description_from_id( event.item_id ) ) , item_path( event.item_id ) %></p>
				<p><strong>Date: </strong><%=h event.cal_date.strftime('%m/%d/%Y') %></p>
				<p><strong>Calibrator: </strong> 
					<% if !event.calibrator_id.nil? %>
                      <%= link_to h(get_calibrator_name( event.calibrator_id )), calibrator_path( event.calibrator_id )%> 
                    <% else %>
                      <%= link_to 'None, Create one?', edit_item_event_path(event.item.id, event.id) %>
    				<% end %>
    			</p>
    			<p>
    				<strong><%= link_to "Go to Event", h(item_event_path(event.item_id, event.id)) %></strong>
    			</p>
		</td>
		<% if (index + 1) % 4 == 0 %>
			</tr>
			<tr>
		<% end %>
	<% end %>
</table>

<div class="digg_pagination">
    <div clas="page_info">
      <%= page_entries_info @events %>
    </div>
    <%= will_paginate @events, :container => false %>
</div>

