<h2>Showing info for <%= "#{@item.description} SN:#{@item.org_sn}"%></h2>
<%= link_to 'Edit', edit_item_path(@item) %> |
<% if @item.inCal %>
  <%= link_to 'Return from Cal', :controller => "event", :action => "return_from_cal", :id => @item.id %>|
<% else %>
  <%= link_to 'Calibrate', new_item_event_path( @item ) %> |
<% end  %>
<%= link_to 'Calibration Events', item_events_path( @item ) %> |
<%= link_to 'Issues', item_issues_path( @item ) %> |
<%= link_to 'Dependents', item_dependents_path( @item.id ) %> |
<%= link_to 'External Docs', item_external_docs_path( @item.id )%> |
<%= link_to 'Back to Item list', items_path %> |
<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>

<p>
  <b>Item Picture</b><br />
  <% if @item.picture.url =~ /missing.png/ %>
  <b>No Image</b><br />
  <% else %>
    <b><%= link_to image_tag( @item.picture.url, :border=> 0), @item.picture.url, :target => '_blank' %></b>
  <% end %>
</p>

<p>
  <b>Picture updated at:</b>
  <%=h @item.picture_updated_at %>
</p>

<table border="1">
  <tr>
    <td><b>Description</b></td>
    <td><%=h @item.description %></td>
    <td><b>Location:</b></td>
    <td><%=h @item.location %></td>
  </tr>
  <tr>
    <td><b>Mfgr:</b></td>
    <td><%=h @item.mfgr %></td>
    <td><b>Pn:</b></td>
    <td><%=h @item.pn %></td>
  </tr>
  <tr>
    <td><b>Org sn:</b></td>
    <td><%=h @item.org_sn %></td>
    <td><b>Mfgr sn:</b></td>
    <td><%=h @item.mfgr_sn %></td>
  </tr>
  <tr>
  	<td colspan="0">
  	  The Cal cycle is <b><%= "#{@item.cal_cycle_days}"%></b> days,
  	  it was last calibrated on <b><%="#{@item.last_calibrated_on}"%></b> 
  	  and is due cal on <b><%= "#{@item.last_calibrated_on + @item.cal_cycle_days.days}"%></b>
  	</td>
  </tr>
  <tr>
    <td colspan="0">
      <%= "#{@item.description}"%> is 
      <% if @item.inactive == 0 %>
        <b>Active </b>
      <% else %>
        <b>Not Active </b>
      <% end %>
      and
      <% if @item.inCal %>
        <b><%=  link_to 'In Cal', item_events_path( @item ) %></b>
      <% else  %>
        <b> Not in cal</b>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><b>Latest Event </b></td>
  </tr>
  <tr>
    <% if not @event.nil? %>
      <td><%=h @event.cal_date.strftime('%m/%d/%Y') %></td>
      <td><%= link_to h(get_calibrator_name( @event.calibrator_id )), calibrator_path( @event.calibrator_id )%></td>
      <% if @event.certs.url =~ /missing.png/ %>
        <td><%= link_to 'Missing Cert', edit_item_event_path(@item.id, @event.id) %></td>
      <% else %>
        <td><%= link_to image_tag( @event.certs.url(:thumb), :border => 0), @event.certs.url, :target => '_blank' %></td>
      <% end %>
    <% else %>
    	<td></td>
      	<td>No Event</td>
    <% end %>
  </tr>
  <tr>
    <td><b><%= link_to 'Issues', item_issues_path( @item ) %></b></td>
  <% if @issues.count > 0 then %>
	  </tr>
    	 <% @issues.each do |issue| %>
  	  <tr>
  	  	<td></td>
      	<td><%= h issue.description %></td>
      	<td><%= h issue.created_at.strftime('%m/%d/%Y')%></td>
  	  </tr>
        <% end %>
  <% else %>
  	<tr>
  		<td></td>
  		<td><%= "No items"%></td>
  	</tr>
  <% end %>
  <tr>
    <td><b><%= link_to 'Dependents', item_dependents_path( @item.id ) %></b></td>
  </tr>
  <tr>
  	<td></td>
    <td>Part Number</td>
    <td>Model</td>
    <td>Note</td>
  </tr>
  <% if @dependents.count > 0 then %>
  	<% @dependents.each do |dependent| %>
    	<tr>
    		<td></td>
      		<td><%= h dependent.pn %></td>
      		<td><%= h dependent.model  %></td>
      		<td><%= h dependent.note %> </td>
    	</tr>
  	<% end %>
  <% else %>
  	<tr>
  		<td></td>
  		<td><%= "No Dependents" %> </td>
  	</tr>
  <% end %>
  <tr>
    <td><b><%= link_to 'Documents', item_external_docs_path( @item.id )%></b></td>
  </tr>
  <tr>
  	<td></td>
    <td>Description</td>
    <td>Document</td>
  </tr>
  <% if @documents.count > 0 then %>
  	<% @documents.each do |doc| %>
    	<tr>
    		<td></td>
      		<td><%= h doc.description %></td>
      		<% if doc.doc.url =~ /missing.png/ %>
        		<td><%= link_to 'Missing Cert', edit_item_external_doc_path(@item.id, doc.id) %></td>
      		<% else %>
        		<td><%= link_to image_tag( doc.doc.url(:thumb), :border => 0), doc.doc.url, :target => '_blank' %></td>
      		<% end %>
    	</tr>
  	<% end %>
  <% else %>
    <tr>
    	<td></td>
    	<td><%= "No Documents" %></td>
    </tr>
  <% end %>
  <tr>
    <td><b>Cost</b></td>
  </tr>
  <tr>
    <td>Total Cost is </td>
    <td><%= "$#{@cost}" %></td>
  </tr>
  </table>

<%= link_to 'Edit', edit_item_path(@item) %> |
<% if @item.inCal %>
  <%= link_to 'Return from Cal', :controller => "event", :action => "return_from_cal", :id => @item.id %>|
<% else %>
  <%= link_to 'Calibrate', new_item_event_path( @item ) %> |
<% end  %>
<%= link_to 'Calibration Events', item_events_path( @item ) %> |
<%= link_to 'Issues', item_issues_path( @item ) %> |
<%= link_to 'Dependents', item_dependents_path( @item.id ) %> |
<%= link_to 'Back to Item list', items_path %> |
<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %>

