<li>
	Calibration
	<ul>
		<li>
			<%= link_to 'Summary Page', items_path%>
		</li>
		<li>
			<%= link_to "Due Cal(#{get_rough_due_cal_count})", items_path( :anchor => "DueCal")%>
		</li>
		<li>
			<%= link_to "In Cal(#{get_in_cal_count})", in_cal_path %>
		</li>
		<li>
			<%= link_to "Inactive(#{get_inactive_count})", inactive_path %>
		</li>
		<li>
			<%= link_to "Due in thirty days", due_in_thirty_path %>
		</li>
		<li>
			<%= link_to "Due in 60 days", due_in_sixty_path %>
		</li>
		<li>
			<%= link_to "All Records(#{get_item_count})", all_items_path %>
		</li>
		<li>
			<%= link_to "All by location", all_items_by_location_path%>
		</li>
		<li>
			<%= link_to "All by Cal Date", all_items_by_cal_date_path%>
		</li>
		<li>
			<%= link_to "Issues", all_issues_path %>
		</li>
		<li>
			<%= link_to "Dependents", all_dependents_path %>
		</li>
		<li>
			<%= link_to "All Events", all_events_path %>
		</li>
		<li>
			<%= link_to "All Documents", all_documents_path %>
		</li>
		<li>
			<%= link_to "Add an item", new_item_path %>
		</li>
	</ul>
</li>
