<!DOCTYPE html>
<html>
<head>
  <title>Calibration</title>
  <% #do I need to change the stylesheet tag to application too? %>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="navbar">
    <ul>
      <%= render "layouts/calibration"%>
      <%= render "layouts/reports"%>
    </ul>
    <ul>
      <%= render "layouts/vendors"%>
    </ul>
	<ul>
	  <%= render "layouts/search"%>
	</ul>

  </div>
<div id="content">
  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:error] %></p>
  <%= yield %>
</div>
</body></html>
